# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
data= 'C:/Users/Keke/git/python-api-challenge/output_data/City_Data.csv'
vacay = pd.read_csv(data)
vacay

,City,Country,Max Temp (F),Humidity,Cloudiness,Wind Speed,Lat,Lng,Date
0,mataura,NZ,39.002,83,35,1.34,-46.19,168.86,1592940508
1,vostok,RU,52.556,100,100,2.01,46.49,135.88,1592940106
2,ovsyanka,RU,55.400,100,0,1.00,55.96,92.55,1592940508
3,new norfolk,AU,50.324,90,100,1.13,-42.78,147.06,1592940508
4,aguililla,MX,84.560,58,88,0.83,18.73,-102.73,1592940508
...,...,...,...,...,...,...,...,...,...
572,mogadishu,SO,78.764,87,13,7.48,2.04,45.34,1592940553
573,mwinilunga,ZM,56.300,43,0,1.39,-11.74,24.43,1592940553
574,banff,CA,64.004,61,100,3.13,51.18,-115.57,1592940553
575,nouakchott,MR,82.400,74,0,9.30,18.09,-15.98,1592940553
576,otradnoye,RU,67.802,52,0,3.00,59.78,30.82,1592940331

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Store 'Lat' and 'Lng' into  locations 
locations = vacay[["Lat", "Lng"]].astype(float)

# Covert 'Humidity' to float and store
humid = vacay["Humidity"].astype(float)

# Create a Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humid, 
                                 dissipating=False, max_intensity=50,
                                 point_radius = 3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. 
# You want to be sure the weather is ideal.

# filter with temp >70 & <80
temp= vacay[(vacay['Max Temp (F)']>68) & (vacay['Max Temp (F)']<83)]

# filter above with ws <10
ws= temp[temp['Wind Speed']<35]

# filter above with cloud =10
cloud= ws[ws['Cloudiness']<=10] 

# set into dataframe
hotel_df= pd.DataFrame (cloud)

hotel_df.head()

,City,Country,Max Temp (F),Humidity,Cloudiness,Wind Speed,Lat,Lng,Date
5,port-de-bouc,FR,76.352,64,0,2.10,43.40,4.98,1592940508
8,muros,ES,75.992,68,0,5.36,42.78,-9.06,1592940508
23,sheridan,US,82.130,26,1,1.50,44.83,-106.92,1592940509
24,nikolskoye,RU,68.576,52,0,3.00,59.70,30.79,1592939989
39,sao filipe,CV,80.438,60,0,7.45,14.90,-24.50,1592940177

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
# add the new columns to append into old list- Hotel info
hotel_df['Hotel Name'] = ""
hotel_df['Hotel Lat'] = ""
hotel_df['Hotel Lng'] = ""
hotel_df['Hotel Rating'] = ""

# set up a parameters dictionary
params = {
#"location": params["location"] = f'{lat},{lng}'
    "keyword": "hotel",
    "radius": 5000,
    "type": "hotel",
    "key": g_key
    }

# # Looping out the column return to the rows only
#return all the rows .iterrows
 # for row in hotel_df.iterrows():
    # #     row[0] ==> index
    # #     row[1] ==> data with column names
    # # Returns value with column names
    #     print(row[1]['Lng'])
for index, row in hotel_df.iterrows():
    lat= row['Lat']
    lng= row['Lng']
    city= row['City']
    params["location"] = f'{lat},{lng}'
    
    #base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"   
   

  # run a request using our params dictionary
    response = requests.get(base_url, params=params)

    #print(response.url)

    #convert response to json
    places_data = response.json()

    # Print the json (pretty printed)
    #print(json.dumps(places_data, indent=4, sort_keys=True))
    
    
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = places_data["results"][0]["name"]
        hotel_df.loc[index, "Hotel Lat"] = places_data["results"][0]["geometry"]["location"]["lat"]
        hotel_df.loc[index, "Hotel Lng"] = places_data["results"][0]["geometry"]["location"]["lng"]
        hotel_df.loc[index, "Hotel Rating"] = places_data["results"][0]["rating"]
    except (KeyError, IndexError):
        print("Missing field/result for {city}, skipping.")
        

hotel_df.head()

Missing field/result for {city}, skipping.
Missing field/result for {city}, skipping.
Missing field/result for {city}, skipping.
Missing field/result for {city}, skipping.
Missing field/result for {city}, skipping.
Missing field/result for {city}, skipping.
Missing field/result for {city}, skipping.
Missing field/result for {city}, skipping.
Missing field/result for {city}, skipping.
Missing field/result for {city}, skipping.

,City,Country,Max Temp (F),Humidity,Cloudiness,Wind Speed,Lat,Lng,Date,Hotel Name,Hotel Lat,Hotel Lng,Hotel Rating
5,port-de-bouc,FR,76.352,64,0,2.10,43.40,4.98,1592940508,HOTEL AZUR,43.433,4.94662,4.2
8,muros,ES,75.992,68,0,5.36,42.78,-9.06,1592940508,Pension Antonio,42.7595,-9.0748,4.8
23,sheridan,US,82.130,26,1,1.50,44.83,-106.92,1592940509,Best Western Sheridan Center,44.8041,-106.956,4
24,nikolskoye,RU,68.576,52,0,3.00,59.70,30.79,1592939989,,,,
39,sao filipe,CV,80.438,60,0,7.45,14.90,-24.50,1592940177,Hotel Ocean View & Restaurante Seafood,14.8927,-24.5006,4.5

In [6]:
#drop or filter function to drop blank value or fillna

na= float('NaN')

hotel_df.replace("",na,inplace=True)
hotel_df.dropna(subset=['Hotel Name'],inplace=True)
hotel_df.head()

,City,Country,Max Temp (F),Humidity,Cloudiness,Wind Speed,Lat,Lng,Date,Hotel Name,Hotel Lat,Hotel Lng,Hotel Rating
5,port-de-bouc,FR,76.352,64,0,2.10,43.40,4.98,1592940508,HOTEL AZUR,43.432995,4.946620,4.2
8,muros,ES,75.992,68,0,5.36,42.78,-9.06,1592940508,Pension Antonio,42.759527,-9.074796,4.8
23,sheridan,US,82.130,26,1,1.50,44.83,-106.92,1592940509,Best Western Sheridan Center,44.804074,-106.956229,4.0
39,sao filipe,CV,80.438,60,0,7.45,14.90,-24.50,1592940177,Hotel Ocean View & Restaurante Seafood,14.892671,-24.500622,4.5
52,atuona,PF,79.412,72,4,7.42,-9.80,-139.03,1592940512,HÃ´tel Hiva Oa Hanakee Lodge,-9.804012,-139.025696,4.5

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row


# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Hotel Lat", "Hotel Lng"]]

In [8]:
# Add marker layer ontop of heat map
## Assign the marker layer to a variable
markers = gmaps.marker_layer(locations,info_box_content=hotel_info)
## Add the layer to the map
fig.add_layer(markers)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

###DATA ANALYSIS

1. The matching results of hotels have happened to appear in the map across all continents besides Asia.
2. France and US have the most suitable hotels.
3. Oceanside cities tend to be the suitable hotel locations to meet all the criterion.